@page
@model LayoutTemplateWebApp.Pages.admOperadores_InstalacionesModel
@{
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function handleButtonClick(event) {
            // Check if the key pressed is the "Enter" key (key code 13)
            if (event.keyCode === 13) {
                event.target.click(); // Trigger the click event
            }
        }
        const agregarOperador = document.getElementById("btnPrestarInstalacion");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Instalaciones/PrestarInstalacion");
        });
        agregarOperador.addEventListener("keypress", handleButtonClick);

        const eliminarOperador = document.getElementById("btnLiberarInstalacion");
        eliminarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Instalaciones/LiberarInstalacion");
        });
        eliminarOperador.addEventListener("keypress", handleButtonClick);

        const actualizarOperador = document.getElementById("btnConsultarHorariosInstalaciones");
        actualizarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Instalaciones/HorariosInstalaciones");
        });
        actualizarOperador.addEventListener("keypress", handleButtonClick);


        const actualizarOperador2 = document.getElementById("btnConsultarInstalaciones");
        actualizarOperador2.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Instalaciones/VisualizarInstalaciones");
        });
        actualizarOperador.addEventListener("keypress", handleButtonClick);
    });
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnPrestarInstalacion" tabindex="10">Prestar Instalación</li>
            <li id="btnLiberarInstalacion" tabindex="11">Liberar Instalación</li>
            <li id="btnConsultarHorariosInstalaciones" tabindex="12">Consultar Horarios Instalaciones</li>     
            <li id="btnConsultarInstalaciones" tabindex="13">Consultar Instalaciones</li>
        </ul>
    </div>
    <div class="xy-center">
        <h1 tabindex="9">
            Bienvenido a la sección de administrador de instalaciones<br/>
            Seleccione la funcionalidad que desee utilizar en el menú de la izquierda
        </h1>
    </div>
</div>