@page
@model LayoutTemplateWebApp.Pages.admOperadoresModel
@{
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnAgregarOperador");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AgregarOperador");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const eliminarOperador = document.getElementById("btnEliminarOperador");
        eliminarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/EliminarOperador");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const actualizarOperador = document.getElementById("btnActualizarOperador");
        actualizarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/ActualizarOperador");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const verHorariosOperadores = document.getElementById("btnVerHorariosOperadores");
        verHorariosOperadores.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VerHorariosOperadores");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const asignarSustitucion = document.getElementById("btnAsignarSustitucion");
        asignarSustitucion.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AsignarSustitucion");
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        const asignarHorario = document.getElementById("btnAsignarHorario");
        asignarHorario.addEventListener("click", function() {
            window.location.assign("/AdminOperadores/Operadores/AsignarHorario");
        })
    })
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarOperador">Agregar Operador</li>
            <li id="btnEliminarOperador">Eliminar Operador</li>
            <li id="btnActualizarOperador">Actualizar Datos Operador</li>
            <li id="btnAsignarHorario">Asignar Horario</li>
            <li id="btnVerHorariosOperadores">Visualizar Horarios Operadores</li>
            <li id="btnAsignarSustitucion">Asignar Sustitución</li>
            
        </ul>
    </div>
    <div class="xy-center">
        <h1>
            Bienvenido a la sección de administrador de operadores<br/>
            Seleccione la funcionalidad que desee utilizar en el menú de la izquierda
        </h1>
    </div>
</div>