@page
@model LayoutTemplateWebApp.Pages.admOperadores_EquipoModel
@{
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function handleButtonClick(event) {
            // Check if the key pressed is the "Enter" key (key code 13)
            if (event.keyCode === 13) {
                event.target.click(); // Trigger the click event
            }
        }
        const agregarEquipo = document.getElementById("btnAgregarEquipo");
        agregarEquipo.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/AgregarEquipo")
        });
        agregarEquipo.addEventListener("keypress", handleButtonClick);

        const listadoEquipos = document.getElementById("btnEliminarEquipo");
        listadoEquipos.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ListadoEquipo")
        });
        listadoEquipos.addEventListener("keypress", handleButtonClick);
        
        const reportarEquipo = document.getElementById("btnReportarEquipo");
        reportarEquipo.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ReportarEquipo")
        });
        reportarEquipo.addEventListener("keypress", handleButtonClick);
    });
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarEquipo" tabindex="10">Agregar Equipo</li>
            <li id="btnEliminarEquipo" tabindex="11">Listado de Equipos</li>
            <li id="btnReportarEquipo" tabindex="12">Reportar Equipo Dañado</li>
        </ul>
    </div>
    <div class="xy-center">
        <h1 tabindex="9">
            Bienvenido a la sección de control de equipo<br/>
            Seleccione la funcionalidad que desee utilizar en el menú de la izquierda
        </h1>
    </div>
</div>