@page
@model LayoutTemplateWebApp.Pages.admOperadoresModel
@{
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function handleButtonClick(event) {
            // Check if the key pressed is the "Enter" key (key code 13)
            if (event.keyCode === 13) {
                event.target.click(); // Trigger the click event
            }
        }

        const agregarOperador = document.getElementById("btnAgregarOperador");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AgregarOperador");
        });
        agregarOperador.addEventListener("keypress", handleButtonClick);

        const verHorariosOperadores = document.getElementById("btnVerHorariosOperadores");
        verHorariosOperadores.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VerHorariosOperadores");
        });
        verHorariosOperadores.addEventListener("keypress", handleButtonClick);

        const asignarSustitucion = document.getElementById("btnAsignarSustitucion");
        asignarSustitucion.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AsignarSustitucion");
        });
        asignarSustitucion.addEventListener("keypress", handleButtonClick);

        const asignarHorario = document.getElementById("btnAsignarHorario");
        asignarHorario.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AsignarHorario");
        });
        asignarHorario.addEventListener("keypress", handleButtonClick);

        const visualizarOperadores = document.getElementById("btnVisualizarOperadores");
        visualizarOperadores.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VisualizarOperadores");
        });
        visualizarOperadores.addEventListener("keypress", handleButtonClick);
    });
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarOperador" tabindex="10">Agregar Operador</li>
            <li id="btnAsignarHorario" tabindex="11">Asignar Horario</li>
            <li id="btnVerHorariosOperadores" tabindex="12">Visualizar Horarios Operadores</li>
            <li id="btnAsignarSustitucion" tabindex="13">Asignar Sustitución</li>
            <li id="btnVisualizarOperadores" tabindex="14">Visualizar Operadores</li>
        </ul>
    </div>
    <div class="xy-center">
        <h1 tabindex="9">
            Bienvenido a la sección de administrador de operadores<br/>
            Seleccione la funcionalidad que desee utilizar en el menú de la izquierda
        </h1>
    </div>
</div>