@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .title{
        text-align:center;
        padding-top: 280px;
    }
</style>

<div class="title">
    <h1>
        Bienvenido al sistema de funciones para operadores<br/>
        Seleccione la funcionalidad que desee utilizar en la parte superior
    </h1>
</div>