@page
@model IndexModel
@{
    ViewData["Title"] = "OperadoresTEC";
}

<style>
    .title{
        height: 100%;
        text-align:center;
        padding-top: 280px;
    }
</style>

<div class="title">
    <h1>
        Bienvenido al sistema de control de la escuela de computación<br/>
        Seleccione la funcionalidad que desee utilizar en la parte superior
    </h1>
</div>