@page
@model LayoutTemplateWebApp.Pages.InstalacionesModel
@{
}

<style>
    .xy-center{
        width: 100%;
        /*height: 100%;*/
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .xy-center h1{
        width: fit-content;
        height: fit-content;

        color: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-family: Roboto;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const consultarHorarios = document.getElementById("btnPrestarInstalacion");
        consultarHorarios.addEventListener("click", function(){
            alert("Click");
        });
    });
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnPrestarInstalacion">Prestar Instalación</li>
            <li id="btnLiberarInstalacion">Liberar Instalación</li>
            <li id="btnConsultarHorariosInstalaciones">Consultar Horarios Instalaciones</li>
        </ul>
    </div>
    <div class="xy-center">
        <h1>
            Bienvenido a la sección de instalaciones<br/>
            Seleccione la funcionalidad que desee utilizar en el menú de la izquierda 
        </h1>
    </div>
</div>