@page "/Operadores/Instalaciones/Horarios-Instalaciones"
@model LayoutTemplateWebApp.Pages.PagesOperador.vtn_operador_horarios_instalacionesModel
@{
}

<style>
    .center-main-button {
        display: flex;
        justify-content: center;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const consultarHorarios = document.getElementById("btnPrestarInstalacion");
        consultarHorarios.addEventListener("click", function(){
            window.location.assign("/Operadores/Instalaciones/Prestar-Instalacion");
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        const consultarHorarios = document.getElementById("btnLiberarInstalacion");
        consultarHorarios.addEventListener("click", function(){
            window.location.assign("/Operadores/Instalaciones/Liberar-Instalacion")
        });
    });
    document.addEventListener("DOMContentLoaded", function() {
        const consultarHorarios = document.getElementById("btnConsultarHorariosInstalaciones");
        consultarHorarios.addEventListener("click", function(){
            window.location.assign("/Operadores/Instalaciones/Horarios-Instalaciones")
        });
    });
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnPrestarInstalacion">Prestar Instalación</li>
            <li id="btnLiberarInstalacion">Liberar Instalación</li>
            <li id="btnConsultarHorariosInstalaciones">Consultar Horarios Instalaciones</li>
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">
            <button class="close-button" id="btnCerrar">X</button>
            <h1>Horarios de instalaciones</h1>
            <div class="center-main-button">
                <button class="main-button">Seleccionar oficina</button>
            </div>
            <h4>Falta poner tabla de horario y hacer el dropdown con el boton de seleccionar</h4>
        </div>
    </div>
</div>