@page "/Operadores/Equipos/Prestar-Equipo"
@model LayoutTemplateWebApp.Pages.PagesOperador.vtn_operador_prestar_equipoModel
@{
}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const consultarHorarios = document.getElementById("btnPrestarEquipo");
        consultarHorarios.addEventListener("click", function(){
            window.location.assign("/Operadores/Equipos/Prestar-Equipo");
        });
    });
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnPrestarEquipo">Prestar Equipo</li>
            <li id="btnLiberarEquipo">Liberar Equipo</li>
            <li id="btnReportarEquipo">Reportar Equipo Dañado</li>
        </ul>
    </div>
    <div class="xy-center">
       <div class="main-info-container">
            <button class="close-button" id="btnCerrar">X</button>
            <h1>Agregar un operador</h1>
            <div class="center-form">
                <h3>Correo electrónico</h3>
                <input type="text" placeholder="Inserte el correo electrónico del operador" class="big-input"/>
            </div>

            <div class="center-form" style="margin-top:20px;">
                <h3>Número telefónico</h3>
                <input type="number" placeholder="Inserte el número telefónico del operador" class="big-input" />
            </div>

            <div class="center-form" style="margin-top:20px;">
                <h3>Número de carnet</h3>
                <input type="number" placeholder="Inserte el número de carnet del operador" class="big-input" />
            </div>

            <div class="parallel-container center-form">
                <button class="main-button">
                    Agregar
                </button>
                <button class="main-button" id="btnCancelarOperador">
                    Cancelar
                </button>
            </div>
       </div>
    </div>
</div>

<style>
    .main-info-container{
        height: auto;
    }
</style>