.all-container {
    display: flex;
    height: 100%;
}

.sidebar-container {
    height: 100%;
    width: 275px;
    min-height: 700px;
    border-right: 1px solid rgba(180,9,9,0.5);
    padding: 11px 22px;
}

.sidebar-container ul {
    padding: 0;
}

.sidebar-container ul li {
    list-style-type: none;
    margin-bottom: 1.375rem;
    cursor: pointer;

    /*font style*/
    color: #000;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 36px */
    /*/font style*/
}

.sidebar-container ul li:hover{
    font-weight: bold;
}