@page "/AdminOperadores/Operadores/VisualizarOperadores"
@model LayoutTemplateWebApp.Pages.PagesAdmOperador.vtn_adm_visualizar_operadoresModel
@{
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnAgregarOperador");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AgregarOperador");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const eliminarOperador = document.getElementById("btnEliminarOperador");
        eliminarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/EliminarOperador");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const actualizarOperador = document.getElementById("btnActualizarOperador");
        actualizarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/ActualizarOperador");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const verHorariosOperadores = document.getElementById("btnVerHorariosOperadores");
        verHorariosOperadores.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VerHorariosOperadores");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const asignarSustitucion = document.getElementById("btnAsignarSustitucion");
        asignarSustitucion.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AsignarSustitucion");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const consultarHorarios = document.getElementById("btnCerrar");
        consultarHorarios.addEventListener("click", function () {
            window.location.assign("/admOperadores-Operadores");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const consultarHorarios = document.getElementById("btnCancelar");
        consultarHorarios.addEventListener("click", function () {
            window.location.assign("/admOperadores-Operadores");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const consultarHorarios = document.getElementById("btnActualizar");
        consultarHorarios.addEventListener("click", function () {
            alert("Actualizar")
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const asignarHorario = document.getElementById("btnAsignarHorario");
        asignarHorario.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AsignarHorario");
        })
    });
    document.addEventListener("DOMContentLoaded", function () {
        const asignarHorario = document.getElementById("btnVisualizarOperadores");
        asignarHorario.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VisualizarOperadores");
        })
    });
</script>

<style>
    .main-info-container{
        height: auto;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-item{
        border: 1px solid var(--color-font-sidebar);
        padding: 10px;
        font-family: Roboto;
        font-size: var(--font-size-sidebar-li);
    }
</style>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarOperador">Agregar Operador</li>
            <li id="btnEliminarOperador">Eliminar Operador</li>
            <li id="btnActualizarOperador">Actualizar Datos Operador</li>
            <li id="btnAsignarHorario">Asignar Horario</li>
            <li id="btnVerHorariosOperadores">Visualizar Horarios Operadores</li>
            <li id="btnAsignarSustitucion">Asignar Sustitución</li>
            <li id="btnVisualizarOperadores">Visualizar Operadores</li>
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">
            <button class="close-button" id="btnCerrar">X</button>

            <h1>Visualizar operadores</h1>

            <div class="grid-container">
                <div class="grid-item">Id del operador</div>
                <div class="grid-item">Email del operador</div>
                <div class="grid-item">Teléfono del operador</div>
            </div>

            @if(Model.Results != null && Model.Results.Any())
                {
                    @foreach (var item in Model.Results)
                    {
                        <div class="grid-container">
                            <div class="grid-item">@item.idOperator</div>
                            <div class="grid-item">@item.email</div>
                            <div class="grid-item">@item.cellphone</div>
                        </div>
                    }
                }

        </div>
    </div>
</div>