@page "/AdminOperadores/Operadores/ActualizarOperador/{id?}"
@model LayoutTemplateWebApp.Pages.PagesAdmOperador.vtn_adm_actualizar_operadorModel
@{
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        function handleButtonClick(event) {
            // Check if the key pressed is the "Enter" key (key code 13)
            if (event.keyCode === 13) {
                event.target.click(); // Trigger the click event
            }
        }

        const agregarOperador = document.getElementById("btnAgregarOperador");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AgregarOperador");
        });
        agregarOperador.addEventListener("keypress", handleButtonClick);

        const verHorariosOperadores = document.getElementById("btnVerHorariosOperadores");
        verHorariosOperadores.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VerHorariosOperadores");
        });
        verHorariosOperadores.addEventListener("keypress", handleButtonClick);

        const asignarSustitucion = document.getElementById("btnAsignarSustitucion");
        asignarSustitucion.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AsignarSustitucion");
        });
        asignarSustitucion.addEventListener("keypress", handleButtonClick);

        const asignarHorario = document.getElementById("btnAsignarHorario");
        asignarHorario.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/AsignarHorario");
        });
        asignarHorario.addEventListener("keypress", handleButtonClick);

        const visualizarOperadores = document.getElementById("btnVisualizarOperadores");
        visualizarOperadores.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VisualizarOperadores");
        });
        visualizarOperadores.addEventListener("keypress", handleButtonClick);

        const cancelar = document.getElementById("btnCancelar");
        cancelar.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Operadores/VisualizarOperadores")
        })
    });
</script>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarOperador" tabindex="10">Agregar Operador</li>
            <li id="btnAsignarHorario" tabindex="11">Asignar Horario</li>
            <li id="btnVerHorariosOperadores" tabindex="12">Visualizar Horarios Operadores</li>
            <li id="btnAsignarSustitucion" tabindex="13">Asignar Sustitución</li>
            <li id="btnVisualizarOperadores" tabindex="14">Visualizar Operadores</li>
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">

            <h1 tabindex="15">Actualizar un operador</h1>

            <form asp-page-handler="Actualizar" method="post">
                <div class="center-form input-container-margin" style="margin-top:50px">
                    <h3>Correo electrónico</h3>
                    <input tabindex="16" type="email" class="big-input" placeholder="Ingrese el nuevo correo del operador" name="email"/>
                </div>

                <div class="center-form input-container-margin">
                    <h3>Número telefónico</h3>
                    <input tabindex="17" type="number" class="big-input" placeholder="Ingrese el nuevo número telefónico del operador" name="cellphone"/>
                </div>

                <div class="center-form input-container-margin">
                    <h3>Número de carnet</h3>
                    <input tabindex="18" type="number" class="big-input" placeholder="Ingrese el número de carnet del operador a modificar" name="carnet" value="@ViewData["id"]" aria-label="Ingrese el número de carnet del operador"/>
                </div>

                <div class="parallel-container center-form">
                    <button class="main-button" id="btnActualizar" formmethod="post" tabindex="19">
                        Actualizar
                    </button>
                    <button class="main-button" id="btnCancelar" type="button" tabindex="20">
                        Cancelar
                    </button>
                </div>
            </form>
            
        </div>
    </div>
</div>