@page "/AdminOperadores/Equipos/EliminarEquipo"
@model LayoutTemplateWebApp.Pages.PagesAdmOperador.vtn_adm_eliminar_equipoModel
@{
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnAgregarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/AgregarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEliminarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EliminarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnPrestarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/PrestarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnDevolverEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/DevolverEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnReportarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ReportarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEquiposPrestados");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EquiposPrestados");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const consultarHorarios = document.getElementById("btnCancelar");
        consultarHorarios.addEventListener("click", function () {
            window.location.assign("/admOperadores-Equipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador= document.getElementById("btnEliminar");
        agregarOperador.addEventListener("click", function () {
            alert("Eliminar");
        });
    });
</script>

<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarEquipo">Agregar Equipo</li>
            <li id="btnEliminarEquipo">Eliminar Equipo</li>
            <li id="btnPrestarEquipo">Prestar Equipo</li>
            <li id="btnDevolverEquipo">Devolver Equipo</li>
            <li id="btnReportarEquipo">Reportar Equipo Dañado</li>
            <li id="btnEquiposPrestados">Equipos Prestados Actualmente</li>
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">

            <h1>Eliminar un equipo</h1>

            <div class="center-form" style="margin-top:40px">
                <h3>Seleccione el equipo</h3>
                <select class="big-input">
                    @foreach (var equipo in Model.equipos)
                    {
                        <option value="@equipo">@equipo</option>
                    }
                </select>
            </div>

            <div class="parallel-container center-form">
              
                <button class="main-button" id="btnEliminar">
                    Eliminar
                </button>
                <button class="main-button" id="btnCancelar">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<style>
    .main-info-container{
        height:auto;
    }
</style>