@page "/AdminOperadores/Equipos/AgregarEquipo"
@model LayoutTemplateWebApp.Pages.PagesAdmOperador.vtn_adm_agregar_equipoModel
@{
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnAgregarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/AgregarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEliminarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EliminarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnPrestarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/PrestarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnDevolverEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/DevolverEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnReportarEquipo");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/ReportarEquipo");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnEquiposPrestados");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/AdminOperadores/Equipos/EquiposPrestados");
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const agregarOperador = document.getElementById("btnCancelar");
        agregarOperador.addEventListener("click", function () {
            window.location.assign("/admOperadores-Equipo");
        });
    });
</script>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}
<div class="all-container">
    <div class="sidebar-container">
        <ul>
            <li id="btnAgregarEquipo">Agregar Equipo</li>
            <li id="btnEliminarEquipo">Listado de Equipos</li>
            <!--<li id="btnPrestarEquipo">Prestar Equipo</li>-->
            <!--<li id="btnDevolverEquipo">Devolver Equipo</li>-->
            <li id="btnReportarEquipo">Reportar Equipo Dañado</li>
            <!--<li id="btnEquiposPrestados">Equipos Prestados Actualmente</li>-->  
        </ul>
    </div>
    <div class="xy-center">
        <div class="main-info-container">

            <h1>Agregar un nuevo equipo</h1>


            <form asp-page-handler="AgregarEquipo" method="post">

                <div class="center-form input-container-margin">
                    <h3>ID Equipo</h3>
                    <input type="number" class="big-input" name="idEquipo">
                </div>

                <div class="center-form input-container-margin">
                    <h3>Nombre</h3>
                    <input type="text" class="big-input" name="nameEquipo" />
                </div>

                <div class="center-form input-container-margin">
                    <h3>Descripción</h3>
                    <textarea id="descripcionInput" type="text" name="descripcionInput" rows="4" class="big-input big-input-2"></textarea>
                </div>

                <div class="center-form input-container-margin">
                    <h3>Disponibilidad</h3>
                    <select name="disponibilidadEquipo" id="disponibilidadEquipo" class="big-input">
                        <option value="true">Disponible</option>
                        <option value="false">Ocupada</option>
                    </select>
                </div>

                <div class="center-form input-container-margin">
                    <h3>Condición</h3>
                    <input type="text" class="big-input" name="CondicionEquipo">
                </div>

                <div class="center-form input-container-margin">
                    <h3>Número de identificación</h3>
                    <input type="number" class="big-input" name="idUsuario">
                </div>

                <div class="parallel-container center-form">
                    <button class="main-button" id="btnAgregar">
                        Agregar
                    </button>
                    <button class="main-button" id="btnCancelar">
                        Cancelar
                    </button>
                </div>
            </form>



        </div>
    </div>
</div>

<style>
    .sidebar-container {
        height: auto;
    }

    .xy-center {
        margin-top: 30px;
        height: auto;
    }

    .main-info-container {
        height: auto;
    }

    .big-input-2 {
        height: 200px !important;
    }
</style>